
<head>
  
  
  <%= stylesheet_link_tag 'login.css.scss' %>

</head>
<!--
<body class="formbody">
  <div class="container">
        <div class="info">
          <h1>Kranq</h1>
        </div>
      </div>
     
      <div class="form">
        <div class="thumbnail"><img src="http://img13.deviantart.net/3f18/i/2015/106/d/6/car_repair_flat_icon_by_thatableh-d7xj6ot.png"/></div>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <form class="login-form">
         <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "input", required: false %>
         <%= f.label :password %>
    <%= f.password_field :password, class: "input", required: false %>
     
	  	<%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation, class: "input", required: true %>
	  
          <%= f.submit "Sign Up" , :class => 'button'%>
          
          <p class="message">Already a user? <a href="/users/sign_in">Log In</a></p>
        </form>
     <% end %>
      </div>

</body>
-->
<body class="formbody">
 <div class="container">
        <div class="info">
          <h1>Sign UP</h1>
        </div>
      </div>
     <div class="form">
  <div class="thumbnail"><img src="http://img13.deviantart.net/3f18/i/2015/106/d/6/car_repair_flat_icon_by_thatableh-d7xj6ot.png"/></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	  <div class="form-group">
	  	<%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true, class: "input", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password %>
	  	<%= f.password_field :password, class: "input", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation, class: "input", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.submit "Sign up", class: "button" %>
	  </div>
<% end %>
</div>
</body>
<!--
<%= render "devise/shared/links" %>
-->