<head>


  <%= stylesheet_link_tag 'login.css.scss' %>

</head>
<body class="formbody">
  <%= form_for(@listing,  :html => { :multipart => true } ) do |f| %>
  <% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

    <ul>
      <% @listing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="container">
    <div class="info">
      <h1>New Listing</h1>
    </div>
  </div>
  <div class="form_listing">

    <%= f.text_field :title, class: "input" , :placeholder => 'Title'%>


    <%= f.text_field :area, class: "input", :placeholder => 'Area' %>


    <%= f.text_field :city, class: "input", :placeholder => 'Ciry' %>


    <%= f.text_field :workinghours, class: "input", :placeholder => 'Working Hours' %>


    <%= f.text_field :workingdays, class: "input", :placeholder => 'Working Days' %>


    <%= f.text_field :phonenumber, class: "input", :placeholder =>'Phonenumber' %>

    <%= f.text_field :address, class: "input", :placeholder => 'Address' %>


    <%= f.text_field :url, class: "input", :placeholder => 'Website' %>


    <%= f.text_field :tag_list, value: f.object.tag_list.to_s, :placeholder => 'Tags' ,class: "input"%>
    <br>
    <span class="btn button btn-file">
      Choose File
      <%= f.file_field :image %>
    </span>



    <%= f.submit "Submit", class: "button" %>
    <br>

  </form>
  <% end %>
</body>