<!--
<div class="page-header">
  <h1><%= @listing.title %></a><br>
  <%= image_tag @listing.image.thumb.url.to_s %><br>
  <small><%= @listing.area %>,<%= @listing.city%></small><br>
  <small><%= @listing.workinghours %></small><br>
  <small><%= @listing.workingdays %></small><br>
  <small><%= @listing.phonenumber %></small><br>
  <small><%= @listing.address %></small><br>
  <small><%= @listing.url %></small><br>

  </h1>
</div>
<%if @listing.tags%>
 <div><%= render @listing.tags %></div> 
<%end%>
-->
<head>
    <%= stylesheet_link_tag 'listings.css.scss' %>
</head>
<div class="container_listing">
  <header class="show_header">
    <%= image_tag @listing.coverimage_url,:class=>'cover-pic' %>
    
    <div class="profile-pic-container_listing">
    <%= image_tag @listing.image_url,:class => 'profile-pic'
    %>
     
     
    </div>
  </header>
  <div class="main_listing">
    <p class="description_listing_title"><strong><%=@listing.title%></strong></p>
    
    <div class="stats-container_listing">
      <div class="stat_listing">
        <div class="number"><strong>Hours</strong></div>
        <div class="text"><%=@listing.workinghours%></div>
      </div>
      <div class="stat_listing">
        <div class="number"><strong>Days</strong></div>
        <div class="text"><%=@listing.workingdays%></div>
      </div>
     
      <div class="stat_listing_last">
        <div class="number"><strong>Phone</strong></div>
        <div class="text"><%=@listing.phonenumber%></div>
      </div>
      <div class="further_details">
      <p class="description_listing"><%=@listing.address%></p>

          <p class="description_listing"><%=@listing.area%> , <%=@listing.city%> </p>
          <a href=" "><p class="description_listing"><%=@listing.url%></p></a>
          </div>
    </div>
    <div>
      <h5>Tagged In:</h5>
    </div>
    <%if @listing.tags%>
    <!--<div><%= render @listing.tags %></div> -->
    <div class="tag_listing">
     <% @tags.each do|tag| %>
     <%= link_to tag, tag.name%>
     <%end%>
    </div>
    <%end%>
  
    <!--
    <div class="pictures">
      <img src="https://unsplash.it/200/200?image=1061" alt="" class="picture" />
      <img src="https://unsplash.it/200/200?image=1045" alt="" class="picture" />
      <img src="https://unsplash.it/200/200?image=1044" alt="" class="picture" />
      <img src="https://unsplash.it/200/200?image=1037" alt="" class="picture" />
      <img src="https://unsplash.it/200/200?image=1021" alt="" class="picture" />
      <img src="https://unsplash.it/200/200?image=1003" alt="" class="picture" />
    </div>
    -->
  </div>
</div>

<!--
<% if @listing.user == current_user -%>
	<div class="btn-group">
		<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-default" %>
		<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
-->