<html>
<head><%= stylesheet_link_tag 'tags.css.scss' %></head>
<body>

    <ul class="topnav" id="myTopnav">
    <li id="logo"><%= link_to "Kranq", root_path %></li>
    <% if user_signed_in? -%>
          
            <li><%= link_to 'Create', new_listing_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          
          <% else -%>
          <!--
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          -->
          <% end -%>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>
  
 <!-- <%= render @tags %> -->
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/1">
      <img src="https://image.flaticon.com/icons/svg/190/190384.svg" height="100px" width="100px">
      </a>
      <a href="/tags/1">
      <h3>Car Accessories</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/1">
      <img src="https://image.flaticon.com/icons/svg/190/190398.svg" height="100px" width="100px"></a>
      <a href="/tags/2">
      <h3>Alloys & Tyres</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/4">
      <img src="https://cdn1.iconfinder.com/data/icons/mechanic-car-repair/1000/Car_Modification-512.png" height="100px" width="100px">
      </a>
      <a href="/tags/4">
      <h3>Cosmetic Mods</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/5">
      <img src="https://image.flaticon.com/icons/png/512/193/193016.png" height="100px" width="100px"></a>
      <a href="/tags/5">
      <h3>Detailing Centres</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/8">
      <img src="https://image.flaticon.com/icons/svg/190/190384.svg" height="100px" width="100px">
      </a>
      <a href="/tags/8">
      <h3>Service Centres</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/9">
      <img src="http://www.surreyautorepair.com/wp-content/themes/titan/images/icons/wheel-alignment.png" height="100px" width="100px"></a>
      <a href="/tags/9">
      <h3>Wheel Alignment & Balancing</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/10">
      <img src="https://image.flaticon.com/icons/svg/190/190401.svg" height="100px" width="100px">
      </a>
      <a href="/tags/10">
      <h3>Paint & Body Work</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/11">
      <img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1406743/1160/772/m1/fpnw/wm0/car-engine-flat-icon-01-.jpg?1467125899&s=e162cb38bbc2bca52b6bfcdfd78339e1" height="100px" width="150px"></a>
      <a href="/tags/11">
      <h3>Performance & Tuning</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>

</body>
</html>