<html>
<head><%= stylesheet_link_tag 'tags.css.scss' %></head>
<body>
    <ul class="topnav" id="myTopnav">
    <li id="logo"><%= link_to "Kranq", root_path %></li>
    <% if user_signed_in? -%>
          
            <li><%= link_to 'Create', new_listing_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          
          <% else -%>
          
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          
          <% end -%>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>
  <%= render @tags %>

</body>
</html>