<html>
<head><%= stylesheet_link_tag 'tags.css.scss' %></head>
<body>
    <ul class="topnav" id="myTopnav">
    <li id="logo"><%= link_to "Kranq", root_path %></li>
    <% if user_signed_in? -%>
          
            <li><%= link_to 'Create', new_listing_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          
          <% else -%>
          
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          
          <% end -%>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>
 <!-- <%= render @tags %> -->
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/1">
      <img src="https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-3/128/128-512.png" height="100px" width="100px">
      </a>
      <a href="/tags/1">
      <h3>Car Accessories</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/1">
      <img src="http://www.advanceprotech.com/wp-content/uploads/2014/07/1410469489_report_list_page_clip_clipbook_development_flat_icon_symbol-256.png" height="100px" width="100px"></a>
      <a href="/tags/2">
      <h3>Alloys & Tyres</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/1">
      <img src="https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-3/128/128-512.png" height="100px" width="100px">
      </a>
      <a href="/tags/1">
      <h3>Cosmetics Mods</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/1">
      <img src="http://www.advanceprotech.com/wp-content/uploads/2014/07/1410469489_report_list_page_clip_clipbook_development_flat_icon_symbol-256.png" height="100px" width="100px"></a>
      <a href="/tags/2">
      <h3>Detailing Centres</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/1">
      <img src="https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-3/128/128-512.png" height="100px" width="100px">
      </a>
      <a href="/tags/1">
      <h3>Service Centre</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/1">
      <img src="http://www.advanceprotech.com/wp-content/uploads/2014/07/1410469489_report_list_page_clip_clipbook_development_flat_icon_symbol-256.png" height="100px" width="100px"></a>
      <a href="/tags/2">
      <h3>Wheel Alignment & Balancing</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>
<section id="services" >
  <div class="wrapper">
    <div class="service">
    <a href="/tags/1">
      <img src="https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-3/128/128-512.png" height="100px" width="100px">
      </a>
      <a href="/tags/1">
      <h3>Paint & Body Work</h3>
      </a>
     
    </div>

   

    <div class="service">
    <a href="/tags/1">
      <img src="http://www.advanceprotech.com/wp-content/uploads/2014/07/1410469489_report_list_page_clip_clipbook_development_flat_icon_symbol-256.png" height="100px" width="100px"></a>
      <a href="/tags/2">
      <h3>Performance & Tuning</h3>
      </a>
     
      <!--
      <%= link_to "New CC Item", '/tags/2', class: "button button_highlight button_small" %>
      -->
    </div>
  </div>
</section>

</body>
</html>