<head>
	<%= stylesheet_link_tag 'listings.css.scss' %>
</head>
<body>


 <div class="border_listing"></div>
  <div class="wrapper_listing">
    <header class="main_header_listing clearfix">
      <div class="logo_listing">
        
        
         <h1><%= @tag.name %></h1>
      </div>
      <!--
      <nav class="nav">
        <a href="#">Full-Time</a>
        <a href="#">Part-Time</a>
        <a href="#">Freelance</a>
        <a href="#">Contract</a>
      </nav>
      -->
    </header>

 

    <ul id="timeline">
    <% @listings.each do |listing| %>
 
   
     <li class="listing clearfix">
          <div class="image_wrapper">
          <%= link_to listing do%>
          <%= image_tag listing.image_url %>
          <%end%>
           <!--  <img src="images/twitter.jpg" alt="Business Logo"> -->
          </div>
          <div class="info">
           <span class="job_title"> <%= link_to listing.title, listing %></span>
          <span class="job_info"><%= listing.area%> <span>&bull;</span>  <%= listing.city%> <span>&bull;</span> <%= listing.phonenumber %></span>
          </div>
         
        </li>
       
      <!--
      <a href="#">
        <li class="listing clearfix">
        <div class="image_wrapper">
          <img src="http://www.freeiconspng.com/uploads/twitter-icon-9.png" alt="Dribbble">
        </div>
        <div class="info">
          <span class="job_title">XyZ</span>
          <span class="job_info">OMR <span>&bull;</span> Chennai <span>&bull;</span> 9677227711</span>
        </div>

      </li>
      </a>
   -->

   <% end %>

    </ul>

    
  </div>
</body>

